<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Calendar</title>
    <link rel="stylesheet" href="CSS/StyleSheet1.css">
</head>
<body>
    <div class="container">
        <h1 class="company-name">PhysicianPortal Hub</h1>
        <button type="submit" class="logout-btn"><a href="http://localhost:3000/login">Logout</a></button>
        <div id="calendar"></div>
        <div id="appointments"></div>
    </div>

    <script src="routes/Script1.js"></script>
</body>
</html>