<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EHR System</title>
        <link rel="stylesheet" href="CSS/style.css">
    </head>
    <body>
        <nav class="login-form">
            <h1 class="app-name">PhysicianPortal Hub login</h1>
            <div class="user-name">
                <input type="practice_id" placeholder="practice id">
            </div>
            <div class="password-placeholder">
                <input type="password" placeholder="password">
            </div>
            <button type="button" class="login-button">Login</button>
        </nav>
    </body>
</html>